.wrap{
    max-width: 650px;
}

.item{
    max-width: 100%;
}
.title{
    color: #F0A3A3;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.myPostsTextArea textarea {
    border: none;
    background-color: #F0EEF1;
    padding: 15px;
    resize: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    width: 620px;
    border-radius: 7px;
    font-size: 18px;
    display: block;
    margin-bottom: 12px;
    max-height: none;
}
textarea::placeholder{
    color: #C3C3C4;
    position: absolute;
}
.button{
    display: block;
    margin-left: auto;
    margin-bottom: 40px;
    border: none;
    border-inline: none;
    border-radius: 4px;
    background-color: #8E91F4;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
